.btn {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--color-btn-border);
  border-radius: 6px;
  appearance: none;
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
  transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color,background-color,border-color;

  &.btn-sm {
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
  }

  &:hover {
    text-decoration: none;
  }

  .octicon {
    margin-right: 4px;
    color: var(--color-fg-muted);
    vertical-align: text-bottom;
  }
}
.btn-sm .octicon {
  vertical-align: text-top;
}
.btn:hover,
.btn.hover,
[open]>.btn {
  background-color: var(--color-btn-hover-bg);
  border-color: var(--color-btn-hover-border);
  transition-duration: .1s;
}
.btn-link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: var(--color-accent-fg);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.details-reset>summary {
  list-style: none;

  &::before {
    display: none;
  }
}

.summary {
  cursor: pointer;
  display: list-item;
}

.Link--secondary {
  color: var(--color-fg-muted) !important;

  &:hover {
    color: var(--color-accent-fg) !important;
  }
}
.Link--muted {
  color: var(--color-fg-muted);

  &:hover {
    color: var(--color-accent-fg) !important;
    text-decoration: none;
  }
}

.Box {
  background-color: var(--color-canvas-default);
  border-color: var(--color-border-default);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.Box-header {
  padding: 16px;
  margin: -1px -1px 0;
  background-color: var(--color-canvas-subtle);
  border-color: var(--color-border-default);
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.Box-row {
  padding: 16px;
  margin-top: -1px;
  list-style-type: none;
  border-top-color: var(--color-border-muted);
  border-top-style: solid;
  border-top-width: 1px;

  &:first-of-type {
    border-top-color: transparent;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.border-bottom {
  border-bottom: 1px solid var(--color-border-default);
}

.form-control,
.form-select {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-fg-default);
  vertical-align: middle;
  background-color: var(--color-canvas-default);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
  outline: none;
  box-shadow: var(--color-primer-shadow-inset);
}

.octicon {
  display: inline-block;
  overflow: visible;
  vertical-align: text-bottom;
  fill: currentColor;

  &.octicon-x.select-menu-item-icon {
    height: 16px;
    width: 16px;
  }
}

.tooltipped {
  position: relative;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  background-color: var(--color-avatar-bg);
  border-radius: 6px;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
}
.avatar-user {
  border-radius: 50% !important;
}

.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  vertical-align: top;
}
.css-truncate.css-truncate-overflow,
.css-truncate .css-truncate-overflow,
.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
