.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.float-right {
  float: right;
}

.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.col-md-6 {
  width: 49.99999998%;
}

.col-9 {
  width: 74.99999997%;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.flex-items-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-end {
  justify-content: flex-end;
}
