.pr-4 {
  padding-right: 24px !important;
}

.pt-6 {
  padding-top: 40px !important;
}

.py-6 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.p-responsive {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-1 {
  margin-top: 4px !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.ml-2 {
  margin-left: 8px !important;
}

.mt-3 {
  margin-top: 16px !important;
}

.mr-3 {
  margin-right: 16px !important;
}

.ml-3 {
  margin-left: 16px !important;
}

.mx-3 {
  margin-right: 16px !important;
  margin-left: 16px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
