.color-bg-secondary {
  background-color: var(--color-canvas-subtle);
}

.color-text-secondary {
  color: var(--color-fg-muted);
}

.color-fg-sponsors {
  color: var(--color-sponsors-fg);
}

.text-center {
  text-align: center;
}

.v-align-middle {
  vertical-align: middle;
}

.f4 {
  font-size: 16px;
}

.f6 {
  font-size: 12px;
}

.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 600;
}

.lh-condensed {
  line-height: 1.25;
}
